//fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Vina+Sans&display=swap');
$roboto:'Roboto', sans-serif;
$vina:'Vina Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

// Positioning
$paddingSmall: 8px;
$paddingMid: 20px;
$paddingBig: 50px;


// Colors

$pink: #f616a2;

